<ng-sidebar-container>
    <ng-sidebar [opened]="opened">
        <div class="containter">
            <ul class="menu">
                <li>
                    <a (click)="toggleSidebar()" routerLink="/">Inicio</a>
                </li>
                <li>
                    <a (click)="toggleSidebar()" routerLink="/shop">Comprar</a>
                </li>
                <li>
                    <a (click)="toggleSidebar()" routerLink="/about">Acerca de nosotros</a>
                </li>
                <li>
                    <a (click)="toggleSidebar()" routerLink="/contact">Contactenos</a>
                </li>
            </ul>
            <ul class="navBar">
                <li><a href="/">Facebook</a></li>
                <li><a href="/">Twitter</a></li>
                <li><a href="/">Imstagram</a></li>
            </ul>
        </div>

    </ng-sidebar>
    <div ng-sidebar-content>
        <div class="header">
            <div class="contetnButton">
                <button (click)="toggleSidebar()">
                    Open
                </button>
                <a>Menu</a>
            </div>
            <!-- <div>
                <a>car</a>
            </div> -->
        </div>
        <router-outlet></router-outlet>

    </div>
</ng-sidebar-container>